* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: Roboto;
   /* set boxes to be the exact size I define */
}

body {
   display: flex;
   flex-direction: column;
}


header {
   display: flex;
   color: #F9FAF8;
   background: #1F2937;
   justify-content: space-between;
   padding: 20px 100px;
   align-items: center;
}

.Left a {
   color: #F9FAF8;
   text-decoration: none;
   font-weight: 200;
}

.Left ul {
   display: flex;
   gap: 20px;
   list-style: none;
}

.Right {
   font-weight: 900;
   font-size: 18px;
}

/* Hero */

.hero {
   background: #1F2937;
   color: #F9FAF8;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 80px 100px;
}

.hero-text {
   max-width: 40%;
}

.hero-text h1 {
   font-size: 40px;
   font-weight: 900;
}

.hero-text p {
   margin: 15px 0;
   color: #E5E7EB;
}

.hero-text button {
   background: #3882F6;
   color: #E5E7EB;
   padding: 10px 25px;
   border-radius: 8px;
   border: none;
   cursor: pointer;
}

.hero-image {
   background: #747b83;
   width: 450px;
   height: 230px;
   display: flex;
   justify-content: center;
   align-items: center;
}

/* sector 2 */

.info {
   text-align: center;
   padding: 60px;
}

.cards {
   display: flex;
   justify-content: center;
   gap: 40px;
   margin-top: 40px;
}

.card {
   width: 150px;
}

.square {
   width: 150px;
   height: 150px;
   border: 3px solid #3882F6;
   border-radius: 10px;
}

/* sector 3 */

.quote {
   background: #E5E7EB;
   padding: 90px 200px;
   font-size: 26px;
   font-style: italic;
   color: #1F2937;
}

.author {
   text-align: right;
   font-weight: bold;
   font-size: 20px;
}

/* sector 4 */

.cta {
   padding: 80px 100px;
}

.cta-box {
   background: #3882F6;
   color: #F9FAF8;
   padding: 30px 50px;
   border-radius: 10px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.cta-box button {
   background: none;
   border: 2px solid;
   color: #F9FAF8;
   padding: 8px 20px;
   border-radius: 8px;
   font-weight: 700;
}

/* footer */

.footer {
   display: flex;
   color: #F9FAF8;
   background: #1F2937;
   padding: 50px;
   align-items: center;
   justify-content: center;
}
