* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: Roboto;
   /* set boxes to be the exact size I define */
}

body {
   display: flex;
   flex-direction: column;
}


header {
   display: flex;
   color: #F9FAF8;
   background: #1F2937;
   justify-content: space-between;
   padding: 20px 100px;
   align-items: center;
}

.Left a {
   color: #F9FAF8;
   text-decoration: none;
   font-weight: 200;
}

.Left ul {
   display: flex;
   gap: 20px;
   list-style: none;
}

.Right {
   font-weight: 900;
   font-size: 18px;
}

/* Hero */

.hero {
   background: #1F2937;
   color: #F9FAF8;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 80px 100px;
}

.hero img {
   width: 500px;
   height: 200px;
}

.sector1-title {
   font-size: 48px;
   font-weight: 900;
}

.sector1-text {
   font-weight: 200;
   margin-bottom: 10px;
}

.hero button,
.sector4 button {
   color: #F9FAF8;
   background-color: #3882F6;
   font-weight: 700;
   padding: 7px 20px;
   border: none;
   border-radius: 7px;
}

/* sector 2 */

.sector2 {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin: 60px;
}

h3 {
   font-size: 20px;
   font-weight: 900;
}

.sector2-content {
   display: flex;
   gap: 30px;
}

.img-content {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.img {
   width: 100px;
   height: 100px;
   border: 3px solid;
   border-color: #3882F6;
   border-radius: 5px;
}


/* sector 3 */

.sector3 {
   display: flex;
   flex-direction: column;
   gap: 10px;
   background-color: #E5E7EB;
   font-size: 36px;
   font-weight: 300;
   padding: 50px;
}

.quote-author {
   font-weight: 700;
   align-self: flex-end;
   font-size: 18px;
}

/* sector 4 */

.sector4 {
   display: flex;
   justify-content: space-around;
   flex: auto;
   color: #F9FAF8;
   background-color: #3882F6;
   margin: 40px;
   padding: 20px;
   border-radius: 10px;
}

.sector4 button {
   border: 2px solid;
}

/* footer */

.footer {
   padding: 50px;
   align-items: center;
   justify-content: center;
}
