* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   /* set boxes to be the exact size I define */
}

body {
   font-family: Roboto;
   display: flex;
   flex-direction: column;
}

.header,
.sector1,
.footer {
   display: flex;
   color: #F9FAF8;
   background-color: #1F2937;
}

.header {
   justify-content: space-between;
   flex: auto;
}

.Right {
   font-weight: 900;
   font-size: 18px;
}

.Left {
   display: flex;
   gap: 20px;
   font-weight: 200;
}

.Right,
.Left {
   margin: 20px;
}

li {
   list-style: none;
}

/* Sector 1 */

.sector1 {
   align-items: center;
   justify-content: space-around;
   gap: 20px;
   flex: auto;
   padding: 50px;
}

.sector1 img {
   width: 500px;
   height: 200px;
}

.sector1-title {
   font-size: 48px;
   font-weight: 900;
}

.sector1-text {
   font-weight: 200;
   margin-bottom: 10px;
}

.sector1 button,
.sector4 button {
   color: #F9FAF8;
   background-color: #3882F6;
   font-weight: 700;
   padding: 7px 20px;
   border: none;
   border-radius: 7px;
}
